html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* style.css */
header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid black;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 10px;
}

li {
  margin: 15px;
}

section {
  margin-bottom: 50px;
}

h2 {
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bold;
}

.banner {
  width: 98%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(img/dbpfp28-1408a470-d6ba-4c44-927b-6e43fdb8dd86.png);
  margin: 20px;
}

.card {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
}

.cards {
  width: 300px;
  height: 180px;
  border-radius: 16px;
  border: 3px solid black;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

h3 {
  font-size: 20px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: bold;
}

p {
  font-size: 17px;
  font-family: "Noto Sans", sans-serif;
}

.bigform {
  margin: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 20%;
}

.mensagens {
  height: 40%;
}

.icon {
  height: 40px;
  width: 40px;
}

.divicon {
  display: flex;
  flex-direction: column;
}

.nomes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
